# Build results
[Bb]in/

# Visual Studio 2015/2017 cache/options directory
.vs/

# VS Code files for those working on multiple tools
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json

# User-specific files
*.code-workspace

# Npm
node_modules/

# C dependencies
.deps/